<section class="program">
<ul class="program__list">

    <li class="program__list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquam, reiciendis laborum non temporibus adipisci qui rerum blanditiis soluta! Perspiciatis aperiam maxime nostrum doloremque fugit distinctio. Ex nemo corporis veniam.</li>
    <li class="program__list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquam, reiciendis
        laborum non temporibus adipisci qui rerum blanditiis soluta! Perspiciatis aperiam maxime nostrum doloremque fugit
        distinctio. Ex nemo corporis veniam.</li>
        <li class="program__list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquam, reiciendis
            laborum non temporibus adipisci qui rerum blanditiis soluta! Perspiciatis aperiam maxime nostrum doloremque fugit
            distinctio. Ex nemo corporis veniam.</li>
            <li class="program__list-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquam, reiciendis
                laborum non temporibus adipisci qui rerum blanditiis soluta! Perspiciatis aperiam maxime nostrum doloremque fugit
                distinctio. Ex nemo corporis veniam.</li>
</ul>
<ul>
    <div>Error</div>
    <p>Error</p>
    <ul>Error</ul>
    <li>Good</li>
</ul>
</section>