<ul class="list">
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
    <li class="item">
        <a href="https://app.slack.com/client/T01DWPFRRA4/C021L22QNH1" class="link">Hello World!</a>
    </li>
</ul>