<h1>Hello world</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste autem est nihil eveniet voluptas esse voluptatem laborum incidunt assumenda, dolorum voluptates quae ipsam accusamus reiciendis! Nulla explicabo sit veniam aspernatur?n</h2>
<img src="./images/demo.jpg" width="480px" height="320px" alt="Sobaka i noga">

<p>
    #include 'iostream';
    #include 'windows.h';

    using namespace std;

    int main(){
        int a = 10;
        int b = 5;

        int c = a + b;

        cout << c << endl;
    }
</p>